*body {
  margin: 0px;
  padding: 0px;
  background-color: #0f0101;
}
.sidebarsection {
  height: 100vh;
  width: 100px;
  border-radius: 20px 0 0 20px solid red;
  border-top-left-radius: 20px solid red;
  background-color: sidebarsection;
  border-right: 2px solid rgba(196, 196, 196, 0.25);
;
}
.userimg {
  margin-top: 15px;
  margin-left: 15px;
}

.vectors ul {
  margin-top: 20px;
  list-style-type: none;
}

.vectors ul li {
  margin-top: 20px;
  justify-content: start;
}

.vectors ul li:hover {
  transform: scale(1.2);
  transition: all 1s ease-out;
  display: block;
  background: rgba(102, 161, 216, 0.22);
}

.switchuser ul {
  margin-top: 50px;
  list-style-type: none;
  transition: ease-out;
}

.switchuser ul li {
  margin-top: 10px;
  justify-content: start;
}

.switchuser ul li:hover {
  transform: scale(1.2);
  transition: all 1s ease-out;
  display: block;
  background: rgba(102, 161, 216, 0.22);
  width: 100%;
}
.rezise {
    width: 40px;
    height: 4 0px;
}

.searchbar{
    margin-top: 25px;
    margin-left: 40px;
}

.searchbar input{
    height: 30px;
    padding: 10px;
    margin-left: 10px;
    background-color: aliceblue;
    border-radius: 2px;
}

.searchbar img{
    padding: 10px;
    margin-left: 10px;
}

.bodycontainer{
    height: 100vh;
  width: 100%;
    border-right: 2px solid rgba(196, 196, 196, 0.25)
}
.topsctn{
  display: flex;
  justify-content:space-around;
}
.batcard{
    height: 10rem;
    width: 20rem;
    margin-left: 40px;
}

.dunecard{
    height: 10rem;
    width: 15rem;
    margin-left: px;
}

.batcard:hover{
    transform: scale(1.07);
  transition: all 1s ease-out;
  display: block;
}

.dunecard:hover{
    transform: scale(1.07);
  transition: all 1s ease-out;
  display: block;
}

.revu{
  height:8rem;
  width: 14rem;
}
.revu1{
  height:9rem;
  width: 14rem;
  padding: 10px;
}
.revu2{
  height:16rem;
  width: 11rem;
  padding: 10px;
  margin-top: 20px;
}

.card1{
  margin-top: 80px;
}
.card2{
  margin-top: 80px;
}
.card2 a {
  margin-left: 8rem;
  color: #0f0101;
  text-decoration: none;
}
.card2 a:hover{
  color: blue;
}
.playbtn{
  height: 20px;
}

.mediasctn{
  margin-top: 20px;
}
.mediasctn ul{
  margin-top: 25px;
  list-style-type: none;
}

.mediasctn ul li{
  margin-top: 12px;
  color: rgba(31, 30, 30, 0.4);
}

.mediasctn ul li:hover{
  text-decoration: underline;
}
.genre{
   margin-top: 20px;
}
.genre h5{
  margin-left: 20px;
}
.genre ul{
  margin-top: 25px;
  list-style-type: none;
}

.genre ul li{
  margin-top: 12px;
  color: rgba(31, 30, 30, 0.4);
}
.genre ul li:hover{
 background-color: rgba(102, 161, 216, 0.22);
}